.Lotto {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.balls {
	display: flex;
	justify-content: center;
}

.clicker {
	margin-top: 5em;
	min-width: 30%;
	margin: auto;
	color: white;
	height: 3em;
	border-radius: 10px;
	background-color: blueviolet;
}

.Lotto h1 {
	text-align: center;
}
